<%- include('partials/header') -%>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <!-- Display recipe title -->
      <h2><%= recipe.title %></h2>
      <!-- Display recipe image -->
      <img class="img-fluid" src="<%= recipe.image%>" />
      <div class="row justify-content-between">
        

        

        <!-- Form to toggle liking a recipe -->
        <form
          class="col-1"
          action="/recipe/toggleLike/<%= recipe.id %>?_method=PUT"
          method="POST"
        >
          <!-- Button to like/unlike the recipe -->
          <button class="btn btn-primary favorite-button" type="submit">
            <i class="<% if (isLiked) { %>fas fa-heart<% } else { %>far fa-heart<% } %>"></i>
          </button>
        </form>

        <!-- Display the number of likes for the recipe -->
        <h3 class="col-3">Likes: <%= recipe.likes %></h3>




        <!-- Form to toggle favoriting a recipe -->
        <form
          class="col-1"
          action="/recipe/toggleFavorite/<%= recipe.id %>?_method=PUT"
          method="POST"
        >
          <!-- Use Font Awesome icon classes for filled and outlined stars -->
          <button class="btn btn-primary favorite-button" type="submit">
            <!-- Font Awesome star icon to indicate favorite status -->
            <i class="<% if (isFavorited) { %>fas fa-star<% } else { %>far fa-star<% } %>"></i>
          </button>
        </form>



        <!-- Form to delete the recipe (visible only to the recipe owner) -->
        <% if(recipe.user == user.id){ %>
        <form
          action="/recipe/deleteRecipe/<%= recipe.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <!-- Button to delete the recipe -->
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>                
        <%}%>
      </div>
    </div>



    <!-- Display recipe ingredients -->
    <div class="col-3 mt-5">
      <p><%= recipe.ingredients %></p>
    </div>
    <!-- Display recipe directions -->
    <div class="col-3 mt-5">
      <p><%= recipe.directions %></p>
    </div>


    <!-- Buttons to navigate back to profile or feed -->
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Feed</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>